#bottomMenu{
    padding-left: 0px;
    margin-left: 0px;
    left: 0px;
    position: fixed;
    bottom: 0;
    height: 20%;
    width: 100%;
    display: block;
}

.block{
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 64px;
    height: 64px;
}
#gestures div{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.block:active{
    background-color: black;
}

#result div{
    display:inline-block;
}

.reverse{
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

div#refreshBar{
    text-align:center;
    width:100%;
}
